body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #222;
    padding: 20px 0;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

header .logo h1 {
    font-size: 2rem;
    color: #fff;
}

nav a {
    color: white;
    margin: 0 20px;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

nav a:hover {
    color: #4CAF50;
}

.search-section {
    text-align: center;
    margin-top: 80px;  /* Adjust for header */
}

#searchInput {
    padding: 10px;
    width: 80%;
    max-width: 400px;
    border-radius: 20px;
    border: 2px solid #ccc;
    outline: none;
}

#autocomplete-list {
    list-style-type: none;
    padding: 0;
    max-height: 150px;
    overflow-y: auto;
    margin-top: 5px;
    position: absolute;
    width: 80%;
    max-width: 400px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 8px;
}

#autocomplete-list li {
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#autocomplete-list li:hover {
    background-color: #f4f4f4;
}

.portfolio {
    padding: 100px 20px 50px 20px;  /* Adjust padding to account for the header */
    text-align: center;
}

.project {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    background-color: white;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 20px;
    overflow: hidden;
    max-width: 1200px;
    margin: 20px auto;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project:hover {
    transform: translateY(-10px);
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
}

.project-image img {
    width: 300px;
    height: auto;
    border-radius: 8px;
    object-fit: cover;
}

.project-info {
    margin-left: 20px;
    max-width: 600px;
    text-align: left;
}

.project-info h2 {
    color: #4CAF50;
    font-size: 24px;
    margin-bottom: 15px;
}

.project-info p {
    font-size: 16px;
    line-height: 1.6;
    color: #555;
    margin-bottom: 20px;
}

.project-info a {
    text-decoration: none;
    color: #fff;
    background-color: #4CAF50;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s;
}

.project-info a:hover {
    background-color: #45a049;
}

footer {
    background-color: #222;
    color: white;
    text-align: center;
    padding: 20px 0;
}
